.header {
  width: 100%;
  height: 80px;
  top: 0;
  position: absolute;
}

.header.small .nav {
  background-color: #004173;
  height: 80px;
}

.nav {
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed;
  transition: 0.3s;
  z-index: 2;
}

.nav-toggle {
  color: #0cb7f2;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
  cursor: pointer;
}

.nav-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  line-height: 80px;
}

.nav-menu-item {
  list-style: none;
}

.nav-menu-link {
  text-decoration: none;
  color: #0cb7f2;
  padding: 10px;
}

.nav-toggle {
  display: none;
}

.nav-menu-link:hover {
  background-color: #dcdcdc;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .header.small .nav {
    height: 70px;
  }
  .nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    padding: 0 30px;
    line-height: 60px;
  }
  .logo_mobile {
    width: 50px;
    height: 50px;
    padding: 5px;
    display: block;
  }
  .img_logo {
    display: none;
  }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    background-color: #004173;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.9s;
    z-index: 2;
  }
  .nav-menu-item {
    line-height: 70px;
  }
  .nav-menu-link {
    color: #0cb7f2;
  }
  .nav-menu-link:hover,
  .nav-menu-link-active {
    background: none;
  }
  .nav-toggle {
    display: block;
  }
  .nav-menu_visible {
    left: 0;
  }
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-top: 200px;
}

.section1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_img {
  position: relative;
  z-index: 2;
  height: 50vh;
  width: 50vw;
  background-image: url("../imagenes/concert.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header_article {
  background-color: #004173;
  height: 35vh;
  width: 35vw;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: #dcdcdc;
  transform: translate(20px, 0px);
}

@media (max-width: 768px) {
  body {
    margin-top: 100px;
  }
  .section1 {
    flex-direction: column-reverse;
  }
  .header_img {
    height: 23vh;
    width: 70vw;
    transform: translate(0px, 30px);
    z-index: 0;
  }
  .header_article {
    height: 25vh;
    width: 80vw;
    transform: translate(0px, 0px);
  }
}

.section2 {
  margin-top: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.busqueda {
  margin-top: 40px;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_search {
  width: 90%;
  height: 35px;
  border: none;
  background-color: #dcdcdc;
  border-radius: 5px;
  padding: 5px;
  color: #004173;
}

.form_search::placeholder {
  color: #004173;
}

input:focus {
  color: #004173;
}

.form_submit {
  width: 10%;
  height: 35px;
  border: 2px solid #dcdcdc;
  border-radius: 5px;
  cursor: pointer;
  color: #004173;
  background-color: #dcdcdc;
  transform: translate(-10px, 0px);
}

.form_submit:hover {
  border: 2px solid #004173;
}

@media (max-width: 768px) {
  .form_search {
    width: 80%;
  }
  .form_submit {
    width: 20%;
  }
}
