.carrito {
  width: 50vw;
  height: 100vh;
  background-color: $color_principal;
  position: fixed;

  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  right: 0;
  padding: 20px 0;

  overflow-y: auto;

  // transicion menu despues(ya abieta)
  left: 100%;
  transition: left 0.9s;
  z-index: 4;
}

.carrito_visible {
  // transicion menu antes de abrir
  left: 50%;
}

.cerrar_carrito {
  display: none;
  color: $color_principal;
  background-color: $text_grey;
  border: none;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 85%;

  
}

.cerrar_carrito:hover {
  background-color: $detail;
  cursor: pointer;
}

.cerrar_carrito_visible {
  display: block;
 
}

.titulo_carrito {
  margin-top: 50px;
}

.titulo_carrito:hover {
  color: $detail;
}

.titulo_carrito_detalles{
  margin-top: 50px;
  text-align: center;

}

.table_cart{
  margin-top: 30px;
}
td{
 text-align:center;
}

.button_quitar:hover{
  color: $detail;
}

.hr_title_cart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hr_cart {
  width: 85%;
}


.tabla_carrito{

  margin-top: 10%;
  width: 90%;
  height: 80%;

}




@media (max-width: 768px) {
  .carrito {
    width: 100vw;
  }

  .carrito_visible {
    // transicion menu antes de abrir
    left: 0px;
  }
}
