.crear_usuario {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // background-image: url("../imagenes/card.jpg");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
}

.crear_usuario::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #6d0005dd;
}

.crear_usuario_title {
  margin-bottom: 10px;
}

.crear_usuario_text {
  margin-bottom: 20px;
}
