@import "_variables.scss";

.icon_menu {
  width: 30px;
  height: 30px;
}

.logo_mobile{
  width: 10vw;
display: flex;
align-items: center;
justify-content: center;


  // padding: 5px;



  

}

.nav-toggle {
  color: #dcdcdc;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
  cursor: pointer;
}

.icon_a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 80px;
  top: 0;
  position: absolute;
  // z-index: -2;

  // cabecera que se anima al bajar(aparece)
  &.small {
    // when header.small change logo pad & font size
    .nav {
      background-color: $color_principal;
      height: 80px;
    }

    // .nav-menu-link {
    //   color: $detail;
    // }
  }
}

// menu nav menu
.nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  transition: 0.3s;
  z-index: 3;
}

.nav-toggle {
  color: $text_grey;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
  cursor: pointer;
}

.nav-menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  line-height: 80px;
  margin-right: 65px;
}

.nav-menu-item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu-link {
  text-decoration: none;
  color: $text_grey;
  padding: 10px;
  margin: 0px 30px;
}

.nav-menu-link {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    margin: 0px -10px;
    background-color: $detail;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
  }
  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

// linea al seleccionar una sección
.nav-menu-link-active {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    margin: 0px -10px;
    background-color: $text_grey;
    visibility: visible;
    transform: scaleX(1);
    transition: all 0.4s ease-in-out 0s;
  }
}

.nav-toggle {
  display: none;
}

// animacion linea bajo menu

// .nav-menu-link:hover {
//   background-color: $text_grey;
//   border-radius: 10px;
// }
/* Style The Dropdown Button */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  margin-left: 50px;
  background-color: $text_grey;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

// media query mobile
@media (max-width: 969px) {
  //posicion desplegable logout

  .dropdown-content {
    display: block;
    position: relative;
    margin-bottom: 10px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_principal;
    box-shadow: none;
  }

  .dropdown-content a {
    color: $text_grey;
  }

  // cabecera qeu se activa al bajar

  .header {
    &.small {
      .nav {
        height: 70px;
      }
    }
  }

  .nav {
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    padding: 0 30px;
    line-height: 60px;
  }

  .logo_mobile {
    width: auto;
    padding: 5px;
  
  }

  .img_logo {
    display: none;
  }

  .nav-menu {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    background-color: $color_principal;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;

    // transicion menu despues(ya abieta)
    left: 100%;
    transition: left 0.9s;
    z-index: 2;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link {
    color: $secundario;
    margin: 0px 0px;
  }

  .nav-menu-link:hover,
  .nav-menu-link-active {
    background: none;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    // transicion menu antes de abrir
    left: 0;
  }
}
