.container_pago{
    background-color: $detail;
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
flex-direction: column;
}



.label_pago{
    width: 25%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.input_pago{
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
    

    border:none;
    border-bottom: 1px solid $color_principal;
    padding: 5px 10px;
    outline: none;
    background-color: white;

    
    border-radius: 0px;
    color: $color_principal;
    // border: none;
    padding: 2px;
    height: 30px;   

}



.boton_pago{
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;}


.titles_pago{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email_number{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.email{
    width: 45%;
}

.telf{
    width: 45%;
}


.formulario_pago{
    background-color: white;
    margin-top:110px;
    margin-bottom:50px;

    width: 60%;
    height: 100%;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
display: flex;
    justify-content: space-around;
    padding: 50px;

}


@media (max-width: 768px) {

    .formulario_pago{
        margin-top:110px;
        margin-bottom:50px;
        width: 80%;
        height: 100%;
        padding: 30px;
        text-align: center;

    }

    .titles_pago{
        height: 100%;
        margin-bottom: 30px;
    }

    
}