h1 {
  font: bold 60px $titulos;
}

a {
  font: bold 20px $titulos;
}

p {
  font: normal 20px $texto;
}

.form_search::placeholder {
  font: normal 20px $texto;
}

.form_submit {
  font: normal 20px $texto;
}

// forms cards
.input_card {
  font: normal 16px $texto;

  &::placeholder {
    font: normal 16px $texto;
  }
}

.submit_card {
  font: normal 16px $texto;
}

@media (max-width: 768px) {
  h1 {
    font: bold 40px $titulos;
  }

  .content_header {
    font: normal 16px $texto;
  }

  .form_search::placeholder {
    font: normal 16px $texto;
  }

  .form_submit {
    font: normal 16px $texto;
  }
}
