// tipografias

$titulos: "Poppins", sans-serif;

$texto: "Halant", serif;

// colores

$first: #004173;
$detail: #0cb7f2;
$test_blue: #0979b0;
$grey: #dcdcdc;

// variables principales

$color_principal: $first;
$secundario: $detail;
$second_blue: $test_blue;
$text_grey: $grey;
