@import "_menu.scss";

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-top: 52vh;
}

// media query mobile
@media (max-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    padding: 0 30px;
    line-height: 60px;
  }

  .logo_mobile {
    width: 50px;
    height: 50px;
    padding: 5px;
    display: block;
  }

  .img_logo {
    display: none;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    background-color: black;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;

    // transicion menu despues(ya abieta)
    left: 100%;
    transition: left 0.9s;
    z-index: 2;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link {
    color: white;
    writing-mode: horizontal-tb;
  }

  .nav-menu-link:hover,
  .nav-menu-link-active {
    background: none;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    // transicion menu antes de abrir
    left: 0;
  }
}
