@import "_variables.scss";
@import "_header.scss";
@import "_tipografia.scss";
@import "_card.scss";
@import "_footer.scss";
@import "_popup.scss";
@import "_form.scss";
@import "inicio-sesion.scss";
@import "crear-usuario.scss";
@import "carrito.scss";
@import "_faq.scss";

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  // margin-top: 75px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  scroll-behavior: smooth;
}

.scroll_hidden{
  overflow: hidden;
}


a {
  text-decoration: none;
}

// seccion 1 -------------

.section1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_img {
  // padding-top: 100px;
  height: 75vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-image: url("../imagenes/concert.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header_img::before {
  content: "";
  position: absolute;
  height: 75vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.509);
}

.busqueda {
  position: relative;
  z-index: 1;
  margin-top: 40px;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_search {
  width: 75%;
  height: 40px;
  border: none;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  color: $color_principal;
}

.form_search::placeholder {
  color: $color_principal;
  opacity: 0.5;
}
input:focus {
  color: $color_principal;
}

.form_submit {
  width: 10%;
  height: 40px;
  border: 3px solid white;
  border-radius: 5px;
  cursor: pointer;
  color: $color_principal;
  background-color: white;
  transform: translate(-10px, 0px);
}
.form_submit:hover {
  border: 3px solid $color_principal;
}

@media (max-width: 768px) {
  .header_img {
    height: 75vh;
    width: 100vw;
    text-align: center;
  }
}

// section 2 ----------------

.section2 {
  margin-top: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contain_cat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.cat {
  list-style: none;
  margin: 10px;
  margin-top: 30px;
}

.button_cat {
  color: white;
  background-color: $color_principal;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.button_cat:hover {
  background-color: $detail;
}

.active_button {
  background-color: $detail;
}

@media (max-width: 768px) {
  .form_search {
    width: 80%;
  }

  .form_submit {
    width: 20%;
  }

  
}



@media (max-width: 425px) {
  
  .contain_cat{
    padding-left: 3rem;
  }
}

@media (max-width: 380px) {
  
  .contain_cat{
    padding-left: 5.5rem;
  }
}

@media (max-width: 320px) {
  
  .contain_cat{
    padding-left: 8rem;
  }
}
// section 3--------------------

.section3 {
  margin-top: 100px;
  // width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .section3 {
    flex-direction: column;
    width: 100%;
  }

  .display_card {
    align-items: center;
    justify-content: center;
  }
}

// ----------- section 4

.section4 {
  margin-top: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $text_grey;
  flex-direction: column;
}

.izquierda {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.derecha {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex_faq {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
